body {
    background-color: gray;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    border-style:ridge;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 0px -10px 0px -10px;
}

h2 {
    text-align: center;
    color: black;
    }