body {
    background-color: #6C7B8B;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1%;
    padding: 0.5%;
    border-style:groove;
}

#title {
    text-align: center;
    font-family: Garamond;
    font-size: 44px;
    color: #FFFFFF;
    background-color: #000000;
    margin: 0px 0px 0px 0px;
}

#subtitle {
    text-align: center;
    color: #000000;
   }

#contgraf {
    text-align: center;
}

#graf {
    width: 40%;
    object-fit: cover;
    border-style:solid;
    }

#contatos {
    width: 2.5%;
    margin: 0.1%;
}